USE [master]
GO
/****** Object:  Database [PHCSolutions]    Script Date: 10/06/2016 14:58:23 ******/
CREATE DATABASE [PHCSolutions] ON  PRIMARY 
( NAME = N'PHCSolutions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PHCSolutions.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PHCSolutions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PHCSolutions_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHCSolutions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHCSolutions]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nvarchar](50) NOT NULL,
	[LoginID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MState]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MState](
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MState] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MState] ([StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'Karnataka', N'Karnataka', N'System', CAST(0x0000A68C00005201 AS DateTime), N'N')
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MLabTest]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MLabTest](
	[LabTestID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MLabTest] PRIMARY KEY CLUSTERED 
(
	[LabTestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MLabTest] ([LabTestID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'LT20161003510b8925e8f8c7', N'Karnataka', N'BloodTest', N'System', CAST(0x0000A69401691DBF AS DateTime), N'N')
INSERT [dbo].[MLabTest] ([LabTestID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'LT201610039bc48ee8d2c3db', N'Karnataka', N'A', N'System', CAST(0x0000A69401690DC3 AS DateTime), N'N')
INSERT [dbo].[MLabTest] ([LabTestID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'LT20161003b6bcea2eb1d59b', N'Karnataka', N'HS', N'System', CAST(0x0000A69401692548 AS DateTime), N'N')
/****** Object:  Table [dbo].[MEducation]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEducation](
	[EducationID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MEducation] PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MDrugs]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MDrugs](
	[DrugID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DrugID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MDrugs] ([DrugID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'MD201609277705e6755dd3e1', N'KARNATAKA', N'paracitamol 125', N'System', CAST(0x0000A68E0121FFB3 AS DateTime), N'N')
INSERT [dbo].[MDrugs] ([DrugID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'MD20160927bd23f5189bcc3e', N'KARNATAKA', N'paracitamol 500', N'System', CAST(0x0000A68E01220EE2 AS DateTime), N'N')
INSERT [dbo].[MDrugs] ([DrugID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'MD20160927ce0539d7c332c8', N'KARNATAKA', N'AMOXYLIN 500', N'System', CAST(0x0000A68E012230E1 AS DateTime), N'N')
/****** Object:  Table [dbo].[MDistrict]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MDistrict](
	[DistrictID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MDistrict] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MDistrict] ([DistrictID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'BAGALKOTE', N'KARNATAKA', N'BAGALKOTE', N'System', CAST(0x0000A68C00CEE79A AS DateTime), N'N')
INSERT [dbo].[MDistrict] ([DistrictID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'BANGALORE', N'KARNATAKA', N'BANGALORE', N'System', CAST(0x0000A68C00CEE749 AS DateTime), N'N')
INSERT [dbo].[MDistrict] ([DistrictID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'BELGAUM', N'KARNATAKA', N'BELGAUM', N'System', CAST(0x0000A68C00CEE79C AS DateTime), N'N')
/****** Object:  Table [dbo].[MDisease]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MDisease](
	[DiseaseID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MDisease] PRIMARY KEY CLUSTERED 
(
	[DiseaseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MDisease] ([DiseaseID], [StateID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'15:05:13', N'Karnataka', N'd', N'System', CAST(0x0000A69000F8A062 AS DateTime), N'N')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MScheme]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MScheme](
	[SchemeID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MScheme] PRIMARY KEY CLUSTERED 
(
	[SchemeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MReligion]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MReligion](
	[ReligionID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[ReligionName] [nvarchar](100) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MReligion] PRIMARY KEY CLUSTERED 
(
	[ReligionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserDetailID] [nvarchar](50) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address1] [nvarchar](100) NULL,
	[Address2] [nvarchar](100) NULL,
	[MobileNo] [nvarchar](13) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MVaccination]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MVaccination](
	[VaccinationID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProtectsAgainst] [nvarchar](2000) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
	[VaccinationFrom] [int] NULL,
	[VaccinationTo] [int] NULL,
 CONSTRAINT [PK_MVaccination] PRIMARY KEY CLUSTERED 
(
	[VaccinationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MTaluk]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MTaluk](
	[TalukID] [nvarchar](50) NOT NULL,
	[DistrictID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MTaluk] PRIMARY KEY CLUSTERED 
(
	[TalukID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MTaluk] ([TalukID], [DistrictID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'AFZALPUR', N'GULBARGA', N'AFZALPUR', N'System', CAST(0x0000A68C00CFD7A3 AS DateTime), N'N')
INSERT [dbo].[MTaluk] ([TalukID], [DistrictID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'ALAND', N'GULBARGA', N'ALAND', N'System', CAST(0x0000A68D00AF48B6 AS DateTime), N'N')
INSERT [dbo].[MTaluk] ([TalukID], [DistrictID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'ALUR', N'HASSAN', N'ALUR', N'System', CAST(0x0000A68C00CFD7B4 AS DateTime), N'N')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[MPHC]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MPHC](
	[PHCID] [nvarchar](50) NOT NULL,
	[TalukID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MPHC] PRIMARY KEY CLUSTERED 
(
	[PHCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MPHC] ([PHCID], [TalukID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'Banashankari20160927156a350945dc70', N'BANGALOREEAST', N'Banashankari', N'System', CAST(0x0000A68E00BDCAEE AS DateTime), N'N')
INSERT [dbo].[MPHC] ([PHCID], [TalukID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'MATTIKOTE20160927ceef73446a4d6c', N'SHIKARIPURA', N'MATTIKOTE', N'System', CAST(0x0000A69000FFAB04 AS DateTime), N'N')
/****** Object:  Table [dbo].[DrugStockDetails]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DrugStockDetails](
	[DrugStockID] [nvarchar](50) NOT NULL,
	[DrugID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[BatchNo] [nvarchar](200) NULL,
	[ManufactureDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_DrugStockDetails] PRIMARY KEY CLUSTERED 
(
	[DrugStockID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DrugStockDetails] ([DrugStockID], [DrugID], [PHCID], [Quantity], [BatchNo], [ManufactureDate], [ExpiryDate], [PurchaseDate], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'D201609272dff7f6cc9172e', N'MD201609277705e6755dd3e1', N'MATTIKOTE20160927ceef73446a4d6c', 34, N'batch', CAST(0x0000A3C000000000 AS DateTime), CAST(0x0000A3C000000000 AS DateTime), CAST(0x0000A3C000000000 AS DateTime), N'System', CAST(0x0000A68E01245E2B AS DateTime), N'N')
INSERT [dbo].[DrugStockDetails] ([DrugStockID], [DrugID], [PHCID], [Quantity], [BatchNo], [ManufactureDate], [ExpiryDate], [PurchaseDate], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'D20160927d4440a1048fb28', N'MD20160927bd23f5189bcc3e', N'MATTIKOTE20160927ceef73446a4d6c', 11, N'alskdjf233', CAST(0x0000A68800000000 AS DateTime), CAST(0x0000A68A00000000 AS DateTime), CAST(0x0000A69000000000 AS DateTime), N'System', CAST(0x0000A68E0171D652 AS DateTime), N'N')
/****** Object:  Table [dbo].[SubCenter]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCenter](
	[SubCenterID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_SubCenter] PRIMARY KEY CLUSTERED 
(
	[SubCenterID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MVillage]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MVillage](
	[VillageID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_MVillage] PRIMARY KEY CLUSTERED 
(
	[VillageID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MVillage] ([VillageID], [PHCID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'V20160927', N'MATTIKOTE20160927ceef73446a4d6c', N'MATTIKOTE', N'System', CAST(0x0000A68F010F443D AS DateTime), N'N')
INSERT [dbo].[MVillage] ([VillageID], [PHCID], [Name], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'V201609292eaa827abf45b4', N'MATTIKOTE20160927ceef73446a4d6c', N'KAPPANAHALLI', N'System', CAST(0x0000A69300C03BAE AS DateTime), N'N')
/****** Object:  Table [dbo].[PatientDetails]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientDetails](
	[PatientID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[age] [smallint] NOT NULL,
	[DOB] [datetime] NULL,
	[Sex] [char](1) NOT NULL,
	[BloodGroup] [nvarchar](3) NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_PatientDetails] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PatientDetails] ([PatientID], [PHCID], [Name], [age], [DOB], [Sex], [BloodGroup], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'P20160928016eb86416f2d1', N'MATTIKOTE20160927ceef73446a4d6c', N'Nagavardhan', 34, CAST(0x0000723D00000000 AS DateTime), N'M', N'O+', N'System', CAST(0x0000A68F0113DF7E AS DateTime), N'N')
INSERT [dbo].[PatientDetails] ([PatientID], [PHCID], [Name], [age], [DOB], [Sex], [BloodGroup], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'P2016092888e0d4a94b1a3f', N'MATTIKOTE20160927ceef73446a4d6c', N'Harshavardhan', 35, CAST(0x000075D800000000 AS DateTime), N'M', N'O+', N'System', CAST(0x0000A69000D564A2 AS DateTime), N'N')
INSERT [dbo].[PatientDetails] ([PatientID], [PHCID], [Name], [age], [DOB], [Sex], [BloodGroup], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'P20160929d8deb58b72b0e9', N'MATTIKOTE20160927ceef73446a4d6c', N'Nagavardhan Koneru', 34, CAST(0x0000A69000000000 AS DateTime), N'M', N'O+', N'System', CAST(0x0000A69000D1E418 AS DateTime), N'N')
/****** Object:  Table [dbo].[VaccinationHistory]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VaccinationHistory](
	[VaccinationIssuedID] [nvarchar](50) NOT NULL,
	[VaccinationID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[VaccinatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_VaccinationHistory] PRIMARY KEY CLUSTERED 
(
	[VaccinationIssuedID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMap]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserMap](
	[UserMapID] [nvarchar](50) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[DistrictID] [nvarchar](50) NOT NULL,
	[TalukID] [nvarchar](50) NULL,
	[PHCID] [nvarchar](50) NULL,
	[VillageID] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_UserMap] PRIMARY KEY CLUSTERED 
(
	[UserMapID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientAddress]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientAddress](
	[PatientAddressID] [nvarchar](50) NOT NULL,
	[PatientID] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](13) NULL,
	[ContactNo] [nvarchar](13) NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
	[VillageID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PatientAddress] PRIMARY KEY CLUSTERED 
(
	[PatientAddressID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PatientAddress] ([PatientAddressID], [PatientID], [Address], [PhoneNo], [ContactNo], [LastModifiedBy], [LastModifiedDate], [ObsInd], [VillageID]) VALUES (N'PADRS20160928c3dbf9f3b8dfe2', N'P2016092888e0d4a94b1a3f', N'Dasarahalli', N'', N'8495919999', N'System', CAST(0x0000A69000D564A2 AS DateTime), N'N', N'V20160927')
INSERT [dbo].[PatientAddress] ([PatientAddressID], [PatientID], [Address], [PhoneNo], [ContactNo], [LastModifiedBy], [LastModifiedDate], [ObsInd], [VillageID]) VALUES (N'PADRS20160928f492e73df29530', N'P20160928016eb86416f2d1', N'near bustand', N'', N'9900990300', N'System', CAST(0x0000A68F0113DF7E AS DateTime), N'N', N'V20160927')
INSERT [dbo].[PatientAddress] ([PatientAddressID], [PatientID], [Address], [PhoneNo], [ContactNo], [LastModifiedBy], [LastModifiedDate], [ObsInd], [VillageID]) VALUES (N'PADRS20160929a17e03ee27dd44', N'P20160929d8deb58b72b0e9', N'Kappanahalli', N'', N'9900990300', N'System', CAST(0x0000A69000D1E418 AS DateTime), N'N', N'V20160927')
/****** Object:  Table [dbo].[PatientEC]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientEC](
	[PatientECID] [nvarchar](50) NOT NULL,
	[ECNumber] [nvarchar](50) NOT NULL,
	[PatientID] [nvarchar](50) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PatientEC] PRIMARY KEY CLUSTERED 
(
	[PatientECID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PatientEC] ([PatientECID], [ECNumber], [PatientID], [LastModifiedBy], [LastModifiedDate], [ObsInd], [PHCID]) VALUES (N'PEC20160929031c1458c66e4d', N'112', N'P2016092888e0d4a94b1a3f', N'System', CAST(0x0000A69000D5649D AS DateTime), N'N', N'MATTIKOTE20160927ceef73446a4d6c')
INSERT [dbo].[PatientEC] ([PatientECID], [ECNumber], [PatientID], [LastModifiedBy], [LastModifiedDate], [ObsInd], [PHCID]) VALUES (N'PEC201609298e8728371ddd18', N'111', N'P20160929d8deb58b72b0e9', N'System', CAST(0x0000A69000D1E409 AS DateTime), N'N', N'MATTIKOTE20160927ceef73446a4d6c')
/****** Object:  Table [dbo].[PHCTransaction]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHCTransaction](
	[PHCTransactionID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[SchemeID] [nvarchar](50) NULL,
	[PatientID] [nvarchar](50) NULL,
	[ChequeNo] [nvarchar](30) NULL,
	[ReceivedAmount] [money] NULL,
	[SpentAmount] [money] NULL,
	[ISDebited] [char](1) NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
	[HandOver] [nvarchar](100) NULL,
	[ReceivedFrom] [nvarchar](100) NULL,
	[TransactionType] [char](1) NOT NULL,
 CONSTRAINT [PK_PHCTransaction] PRIMARY KEY CLUSTERED 
(
	[PHCTransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PHCTransaction] ([PHCTransactionID], [PHCID], [SchemeID], [PatientID], [ChequeNo], [ReceivedAmount], [SpentAmount], [ISDebited], [Description], [LastModifiedBy], [LastModifiedDate], [ObsInd], [HandOver], [ReceivedFrom], [TransactionType]) VALUES (N'PHCT201610067f74a19876954d', N'MATTIKOTE20160927ceef73446a4d6c', NULL, NULL, NULL, 100000.0000, NULL, NULL, N'Opening Balance', N'System', CAST(0x0000A69700EB5EC3 AS DateTime), N'N', NULL, NULL, N'C')
INSERT [dbo].[PHCTransaction] ([PHCTransactionID], [PHCID], [SchemeID], [PatientID], [ChequeNo], [ReceivedAmount], [SpentAmount], [ISDebited], [Description], [LastModifiedBy], [LastModifiedDate], [ObsInd], [HandOver], [ReceivedFrom], [TransactionType]) VALUES (N'PHCT20161006c3008a25e43fea', N'MATTIKOTE20160927ceef73446a4d6c', NULL, NULL, NULL, NULL, 5000.0000, NULL, N'', N'System', CAST(0x0000A69700F18679 AS DateTime), N'N', N'Rajesh', NULL, N'D')
/****** Object:  Table [dbo].[PatientPrescription]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientPrescription](
	[PrescriptionID] [nvarchar](50) NOT NULL,
	[PatientID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[DiseaseID] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_PatientPrescription] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PatientPrescription] ([PrescriptionID], [PatientID], [PHCID], [DiseaseID], [Description], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'PP2016100429182aa1b90a8b', N'P20160928016eb86416f2d1', N'MATTIKOTE20160927ceef73446a4d6c', N'15:05:13', N'tested', N'System', CAST(0x0000A69500F035EB AS DateTime), N'N')
INSERT [dbo].[PatientPrescription] ([PrescriptionID], [PatientID], [PHCID], [DiseaseID], [Description], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'PP20161004386e522dcb1aab', N'P2016092888e0d4a94b1a3f', N'MATTIKOTE20160927ceef73446a4d6c', N'15:05:13', N'safasf', N'System', CAST(0x0000A69500F14705 AS DateTime), N'N')
INSERT [dbo].[PatientPrescription] ([PrescriptionID], [PatientID], [PHCID], [DiseaseID], [Description], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'PP201610044f255ea253425d', N'P20160928016eb86416f2d1', N'MATTIKOTE20160927ceef73446a4d6c', N'15:05:13', N'tested', N'System', CAST(0x0000A69500EE3D3A AS DateTime), N'N')
/****** Object:  Table [dbo].[PatientMC]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientMC](
	[PatientMCID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[PatientID] [nvarchar](50) NOT NULL,
	[PatientECID] [nvarchar](50) NOT NULL,
	[MCNumber] [nvarchar](50) NOT NULL,
	[LMP] [datetime] NOT NULL,
	[EDD] [datetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_PatientMC] PRIMARY KEY CLUSTERED 
(
	[PatientMCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LabTestDetails]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LabTestDetails](
	[LabTestDetailID] [nvarchar](50) NOT NULL,
	[PatientPrescriptionID] [nvarchar](50) NOT NULL,
	[LabTestID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[Result] [nvarchar](50) NULL,
	[Remarks] [nvarchar](200) NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
 CONSTRAINT [PK_LabTestDetails] PRIMARY KEY CLUSTERED 
(
	[LabTestDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LabTestDetails] ([LabTestDetailID], [PatientPrescriptionID], [LabTestID], [PHCID], [Result], [Remarks], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'LT20161004a24e0731eb8e4e', N'PP2016100429182aa1b90a8b', N'LT201610039bc48ee8d2c3db', N'MATTIKOTE20160927ceef73446a4d6c', N'No issues', N'no problem', N'System', CAST(0x0000A69500F035EC AS DateTime), N'N')
INSERT [dbo].[LabTestDetails] ([LabTestDetailID], [PatientPrescriptionID], [LabTestID], [PHCID], [Result], [Remarks], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'LT20161004b99a1c618bcb35', N'PP20161004386e522dcb1aab', N'LT20161003b6bcea2eb1d59b', N'MATTIKOTE20160927ceef73446a4d6c', N'No issues', N'no problem', N'System', CAST(0x0000A69500F14706 AS DateTime), N'N')
INSERT [dbo].[LabTestDetails] ([LabTestDetailID], [PatientPrescriptionID], [LabTestID], [PHCID], [Result], [Remarks], [LastModifiedBy], [LastModifiedDate], [ObsInd]) VALUES (N'LT20161004c2f54b8533bc2e', N'PP20161004386e522dcb1aab', N'LT20161003510b8925e8f8c7', N'MATTIKOTE20160927ceef73446a4d6c', N'No issues', N'no problem', N'System', CAST(0x0000A69500F14706 AS DateTime), N'N')
/****** Object:  Table [dbo].[DrugsIssued]    Script Date: 10/06/2016 14:58:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DrugsIssued](
	[DrugsID] [nvarchar](50) NOT NULL,
	[PHCID] [nvarchar](50) NOT NULL,
	[DrugID] [nvarchar](50) NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Dosage] [nvarchar](20) NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[ObsInd] [char](1) NOT NULL,
	[PrescriptionID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DrugsIssued] PRIMARY KEY CLUSTERED 
(
	[DrugsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DrugsIssued] ([DrugsID], [PHCID], [DrugID], [Quantity], [Dosage], [LastModifiedBy], [LastModifiedDate], [ObsInd], [PrescriptionID]) VALUES (N'DI20161004579dccd035d9c0', N'MATTIKOTE20160927ceef73446a4d6c', N'MD20160927bd23f5189bcc3e', 12, N'1-1-0', N'System', CAST(0x0000A69500F14706 AS DateTime), N'N', N'PP20161004386e522dcb1aab')
INSERT [dbo].[DrugsIssued] ([DrugsID], [PHCID], [DrugID], [Quantity], [Dosage], [LastModifiedBy], [LastModifiedDate], [ObsInd], [PrescriptionID]) VALUES (N'DI201610045f6ff636d5db26', N'MATTIKOTE20160927ceef73446a4d6c', N'MD20160927ce0539d7c332c8', 1, N'5ml-5ml-5ml', N'System', CAST(0x0000A69500F035EB AS DateTime), N'N', N'PP2016100429182aa1b90a8b')
INSERT [dbo].[DrugsIssued] ([DrugsID], [PHCID], [DrugID], [Quantity], [Dosage], [LastModifiedBy], [LastModifiedDate], [ObsInd], [PrescriptionID]) VALUES (N'DI20161004739dc97adaec6f', N'MATTIKOTE20160927ceef73446a4d6c', N'MD201609277705e6755dd3e1', 15, N'1-1-1', N'System', CAST(0x0000A69500EE4642 AS DateTime), N'N', N'PP201610044f255ea253425d')
/****** Object:  ForeignKey [FK_MLabTest_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MLabTest]  WITH CHECK ADD  CONSTRAINT [FK_MLabTest_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MLabTest] CHECK CONSTRAINT [FK_MLabTest_MState]
GO
/****** Object:  ForeignKey [FK_MEducation_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MEducation]  WITH CHECK ADD  CONSTRAINT [FK_MEducation_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MEducation] CHECK CONSTRAINT [FK_MEducation_MState]
GO
/****** Object:  ForeignKey [FK__MDrugs__StateID__571DF1D5]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MDrugs]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
/****** Object:  ForeignKey [FK_MDistrict_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MDistrict]  WITH CHECK ADD  CONSTRAINT [FK_MDistrict_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MDistrict] CHECK CONSTRAINT [FK_MDistrict_MState]
GO
/****** Object:  ForeignKey [FK_MDisease_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MDisease]  WITH CHECK ADD  CONSTRAINT [FK_MDisease_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MDisease] CHECK CONSTRAINT [FK_MDisease_MState]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_MScheme_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MScheme]  WITH CHECK ADD  CONSTRAINT [FK_MScheme_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MScheme] CHECK CONSTRAINT [FK_MScheme_MState]
GO
/****** Object:  ForeignKey [FK_MReligion_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MReligion]  WITH CHECK ADD  CONSTRAINT [FK_MReligion_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MReligion] CHECK CONSTRAINT [FK_MReligion_MState]
GO
/****** Object:  ForeignKey [FK_UserDetails_UserDetails]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_UserDetails] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_UserDetails]
GO
/****** Object:  ForeignKey [FK_MVaccination_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MVaccination]  WITH CHECK ADD  CONSTRAINT [FK_MVaccination_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[MVaccination] CHECK CONSTRAINT [FK_MVaccination_MState]
GO
/****** Object:  ForeignKey [FK_MTaluk_MDistrict]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MTaluk]  WITH CHECK ADD  CONSTRAINT [FK_MTaluk_MDistrict] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[MDistrict] ([DistrictID])
GO
ALTER TABLE [dbo].[MTaluk] CHECK CONSTRAINT [FK_MTaluk_MDistrict]
GO
/****** Object:  ForeignKey [FK_MPHC_MTaluk]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MPHC]  WITH CHECK ADD  CONSTRAINT [FK_MPHC_MTaluk] FOREIGN KEY([TalukID])
REFERENCES [dbo].[MTaluk] ([TalukID])
GO
ALTER TABLE [dbo].[MPHC] CHECK CONSTRAINT [FK_MPHC_MTaluk]
GO
/****** Object:  ForeignKey [FK_DrugStockDetails_MDrugs]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[DrugStockDetails]  WITH CHECK ADD  CONSTRAINT [FK_DrugStockDetails_MDrugs] FOREIGN KEY([DrugID])
REFERENCES [dbo].[MDrugs] ([DrugID])
GO
ALTER TABLE [dbo].[DrugStockDetails] CHECK CONSTRAINT [FK_DrugStockDetails_MDrugs]
GO
/****** Object:  ForeignKey [FK_DrugStockDetails_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[DrugStockDetails]  WITH CHECK ADD  CONSTRAINT [FK_DrugStockDetails_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[DrugStockDetails] CHECK CONSTRAINT [FK_DrugStockDetails_MPHC]
GO
/****** Object:  ForeignKey [FK_SubCenter_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[SubCenter]  WITH CHECK ADD  CONSTRAINT [FK_SubCenter_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[SubCenter] CHECK CONSTRAINT [FK_SubCenter_MPHC]
GO
/****** Object:  ForeignKey [FK_MVillage_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[MVillage]  WITH CHECK ADD  CONSTRAINT [FK_MVillage_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[MVillage] CHECK CONSTRAINT [FK_MVillage_MPHC]
GO
/****** Object:  ForeignKey [FK_PatientDetails_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientDetails]  WITH CHECK ADD  CONSTRAINT [FK_PatientDetails_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[PatientDetails] CHECK CONSTRAINT [FK_PatientDetails_MPHC]
GO
/****** Object:  ForeignKey [FK_VaccinationHistory_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[VaccinationHistory]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationHistory_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[VaccinationHistory] CHECK CONSTRAINT [FK_VaccinationHistory_MPHC]
GO
/****** Object:  ForeignKey [FK_VaccinationHistory_MVaccination]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[VaccinationHistory]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationHistory_MVaccination] FOREIGN KEY([VaccinationID])
REFERENCES [dbo].[MVaccination] ([VaccinationID])
GO
ALTER TABLE [dbo].[VaccinationHistory] CHECK CONSTRAINT [FK_VaccinationHistory_MVaccination]
GO
/****** Object:  ForeignKey [FK_UserMap_MDistrict]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_MDistrict] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[MDistrict] ([DistrictID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_MDistrict]
GO
/****** Object:  ForeignKey [FK_UserMap_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_MPHC]
GO
/****** Object:  ForeignKey [FK_UserMap_MState]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_MState] FOREIGN KEY([StateID])
REFERENCES [dbo].[MState] ([StateID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_MState]
GO
/****** Object:  ForeignKey [FK_UserMap_MTaluk]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_MTaluk] FOREIGN KEY([TalukID])
REFERENCES [dbo].[MTaluk] ([TalukID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_MTaluk]
GO
/****** Object:  ForeignKey [FK_UserMap_MVillage]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_MVillage] FOREIGN KEY([VillageID])
REFERENCES [dbo].[MVillage] ([VillageID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_MVillage]
GO
/****** Object:  ForeignKey [FK_UserMap_Users]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_Users]
GO
/****** Object:  ForeignKey [FK__PatientAd__Villa__5812160E]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientAddress]  WITH CHECK ADD FOREIGN KEY([VillageID])
REFERENCES [dbo].[MVillage] ([VillageID])
GO
/****** Object:  ForeignKey [FK_PatientAddress_PatientDetails]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientAddress]  WITH CHECK ADD  CONSTRAINT [FK_PatientAddress_PatientDetails] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientDetails] ([PatientID])
GO
ALTER TABLE [dbo].[PatientAddress] CHECK CONSTRAINT [FK_PatientAddress_PatientDetails]
GO
/****** Object:  ForeignKey [FK__PatientEC__PHCID__59063A47]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientEC]  WITH CHECK ADD FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
/****** Object:  ForeignKey [FK_PatientEC_PatientDetails]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientEC]  WITH CHECK ADD  CONSTRAINT [FK_PatientEC_PatientDetails] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientDetails] ([PatientID])
GO
ALTER TABLE [dbo].[PatientEC] CHECK CONSTRAINT [FK_PatientEC_PatientDetails]
GO
/****** Object:  ForeignKey [FK_PHCTransaction_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PHCTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PHCTransaction_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[PHCTransaction] CHECK CONSTRAINT [FK_PHCTransaction_MPHC]
GO
/****** Object:  ForeignKey [FK_PHCTransaction_MScheme]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PHCTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PHCTransaction_MScheme] FOREIGN KEY([SchemeID])
REFERENCES [dbo].[MScheme] ([SchemeID])
GO
ALTER TABLE [dbo].[PHCTransaction] CHECK CONSTRAINT [FK_PHCTransaction_MScheme]
GO
/****** Object:  ForeignKey [FK_PHCTransaction_PatientDetails]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PHCTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PHCTransaction_PatientDetails] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientDetails] ([PatientID])
GO
ALTER TABLE [dbo].[PHCTransaction] CHECK CONSTRAINT [FK_PHCTransaction_PatientDetails]
GO
/****** Object:  ForeignKey [FK__PatientPr__Disea__4316F928]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientPrescription]  WITH CHECK ADD FOREIGN KEY([DiseaseID])
REFERENCES [dbo].[MDisease] ([DiseaseID])
GO
/****** Object:  ForeignKey [FK_PatientPrescription_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientPrescription]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescription_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[PatientPrescription] CHECK CONSTRAINT [FK_PatientPrescription_MPHC]
GO
/****** Object:  ForeignKey [FK_PatientPrescription_PatientDetails]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientPrescription]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescription_PatientDetails] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientDetails] ([PatientID])
GO
ALTER TABLE [dbo].[PatientPrescription] CHECK CONSTRAINT [FK_PatientPrescription_PatientDetails]
GO
/****** Object:  ForeignKey [FK_PatientMC_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientMC]  WITH CHECK ADD  CONSTRAINT [FK_PatientMC_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[PatientMC] CHECK CONSTRAINT [FK_PatientMC_MPHC]
GO
/****** Object:  ForeignKey [FK_PatientMC_PatientDetails]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientMC]  WITH CHECK ADD  CONSTRAINT [FK_PatientMC_PatientDetails] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientDetails] ([PatientID])
GO
ALTER TABLE [dbo].[PatientMC] CHECK CONSTRAINT [FK_PatientMC_PatientDetails]
GO
/****** Object:  ForeignKey [FK_PatientMC_PatientEC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[PatientMC]  WITH CHECK ADD  CONSTRAINT [FK_PatientMC_PatientEC] FOREIGN KEY([PatientECID])
REFERENCES [dbo].[PatientEC] ([PatientECID])
GO
ALTER TABLE [dbo].[PatientMC] CHECK CONSTRAINT [FK_PatientMC_PatientEC]
GO
/****** Object:  ForeignKey [FK_LabTestDetails_MLabTest]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[LabTestDetails]  WITH CHECK ADD  CONSTRAINT [FK_LabTestDetails_MLabTest] FOREIGN KEY([LabTestID])
REFERENCES [dbo].[MLabTest] ([LabTestID])
GO
ALTER TABLE [dbo].[LabTestDetails] CHECK CONSTRAINT [FK_LabTestDetails_MLabTest]
GO
/****** Object:  ForeignKey [FK_LabTestDetails_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[LabTestDetails]  WITH CHECK ADD  CONSTRAINT [FK_LabTestDetails_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[LabTestDetails] CHECK CONSTRAINT [FK_LabTestDetails_MPHC]
GO
/****** Object:  ForeignKey [FK_LabTestDetails_PatientPrescription]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[LabTestDetails]  WITH CHECK ADD  CONSTRAINT [FK_LabTestDetails_PatientPrescription] FOREIGN KEY([PatientPrescriptionID])
REFERENCES [dbo].[PatientPrescription] ([PrescriptionID])
GO
ALTER TABLE [dbo].[LabTestDetails] CHECK CONSTRAINT [FK_LabTestDetails_PatientPrescription]
GO
/****** Object:  ForeignKey [FK__DrugsIssu__DrugI__38996AB5]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[DrugsIssued]  WITH CHECK ADD FOREIGN KEY([DrugID])
REFERENCES [dbo].[MDrugs] ([DrugID])
GO
/****** Object:  ForeignKey [FK__DrugsIssu__Presc__3D5E1FD2]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[DrugsIssued]  WITH CHECK ADD FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[PatientPrescription] ([PrescriptionID])
GO
/****** Object:  ForeignKey [FK_DrugsIssued_MPHC]    Script Date: 10/06/2016 14:58:24 ******/
ALTER TABLE [dbo].[DrugsIssued]  WITH CHECK ADD  CONSTRAINT [FK_DrugsIssued_MPHC] FOREIGN KEY([PHCID])
REFERENCES [dbo].[MPHC] ([PHCID])
GO
ALTER TABLE [dbo].[DrugsIssued] CHECK CONSTRAINT [FK_DrugsIssued_MPHC]
GO
