<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PHCEntities" connectionString="metadata=res://*/PHCDataModel.csdl|res://*/PHCDataModel.ssdl|res://*/PHCDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VARUN;Initial Catalog=PHC;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/PHCModel.csdl|res://*/PHCModel.ssdl|res://*/PHCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PHC;user id=Sa;password=Pass1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>